#background {
  font-family: monospace;
  background-color: b2ffd6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#box {
  border-color: d7fdf0;
  border-width: 8px;
  border-style: solid;
  margin: auto;
  width: 60%;
  height: 80%;
  border-radius: 100px;
  margin-top: 5%;
}
.topbit {
  background-color: grey;
  height: 8%;
  margin-left: 0px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-top: 2%;
}
.title {
  color: black;
  border-color: #b2ffd6;
  border-width: 4px;
  border-style: solid;
  width: 40%;
  margin: auto;
  text-align: center;
  height: 5%;
  font-size: 60px;
  padding: 10px;
  background-color: #b2ffd6;
  text-shadow: 2px 2px white;
}
.inputs {
  width: 40%;
  padding: 10px;
  background-color: #b2ffd6;
  margin-top: 4%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.input {
  width: 42%;
  height: 5%;
  border-radius: 7px;
  margin-top: 20%;
  padding-left: 10px;
  transition: width 0.4s ease-in-out;
  outline: none;
  transition: width 0.4s ease;
  background-color: transparent;
  border: 2px #47cca0 solid;
  text-align: left;
}
.input:focus + ::placeholder {
  transform: translateY(-70%);
}
.input:focus {
  width: 55%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.input:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.testcont {
  width: 40%;
  height: 10%;
  margin: auto;
}
.testb {
  border-radius: 15px;
  height: 5%;
  width: 8%;
  margin-top: 150px;
  transition: width 0.4s ease-in-out;
  background-color: transparent;
  text-shadow: 1px 1px white;
  position: absolute;
}
.testb:hover {
  background-color: #e0ffff;
}

.disabled {
  background-color: #81e6c4;
}

.enabled {
  background-color: #12a358;
  color: white;
  box-shadow: 0 0 4px 4px #81e6c4;
}

.holding {
  width: 40%;
  height: 7.5%;
  margin: auto;
  padding: 10px;
  margin-top: 8px;
}
.button:hover {
  background-color: transparent;
  border: 3px black solid;

  box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.1),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button:visited {
  color: red;
  border: 6px black solid;
}
.button {
  height: 100%;
  width: 35%;
  border: none;
  position: relative;
  z-index: 100px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  border: 3px #47cca0 solid;
}
#HIGHER {
  margin-left: 0px;
}
#FOUNDATION {
  margin-left: 27.7%;
}
#test2 {
  margin-left: 27.7%;
}
#subject {
  padding: 10px;
  font-size: 13px;
  margin-left: 42%;
  text-align: left;
  width: auto;
  height: 42px;
  border: none;
  color: black;
  border-radius: 5px;
  appearance: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  border: 3px #47cca0 solid;
  box-shadow: 3px 3px 3px 3px #81e6c4;
}
.output {
  margin-top: 3%;
  background-color: #81e6c4;
  border-radius: 5px;
  border: 3px #47cca0 solid;
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  box-shadow: 3px 3px 3px 3px #81e6c4;
}
.calc {
  margin-top: 2%;
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
}
.buttonC {
  height: 100%;
  width: 35%;
  border: none;
  position: relative;
  z-index: 100px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  border: 3px #47cca0 solid;
  box-shadow: 3px 3px 3px 3px #81e6c4;
}
.buttonC:hover {
  background-color: transparent;
  border: 3px black solid;

  box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.1),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
