#background {
  font-family: monospace;
  background-color: b2ffd6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#box {
  border-color: d7fdf0;
  border-width: 8px;
  border-style: solid;
  margin: auto;
  width: 60%;
  height: 80%;
}
.title {
  color: black;
  border-color: #b2ffd6;
  border-width: 4px;
  border-style: solid;
  width: 40%;
  margin: auto;
  text-align: center;
  height: 5%;
  font-size: 60px;
  padding: 10px;
  background-color: #b2ffd6;
  text-shadow: 2px 2px white;
}
.inputs {
  width: 40%;
  padding: 10px;
  background-color: #b2ffd6;
  margin-top: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
.input {
  width: 40%;
  height: 4%;
  border: none;
  border: none;
  border-radius: 7px;
  margin-top: 20%;
  transition: width 0.4s ease-in-out;
  outline: none;
  transition: width 0.4s ease;
  background-color: transparent;
  background-color: #d7fdf0;
  text-align: left;
}
.input:focus {
  width: 55%;
  border-bottom: black 1.5px solid;
}
.testcont {
  width: 40%;
  height: 10%;
  margin: auto;
}
.testb {
  border-radius: 15px;
  height: 5%;
  width: 8%;
  margin-top: 150px;
  transition: width .4s ease-in-out;
  background-color: transparent;
  text-shadow: 1px 1px white;
  position: absolute;
}
.testb:hover {
  background-color: #e0ffff;
  border-color: #e0ffff;
}