#background {
    font-family: monospace;
    background-image: url(Wave2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.title {
    color: black;
    border-color: #B2FFD6;
    border-width: 4px;
    border-style: solid;
    width: 40%;
    margin: auto;
    text-align: center;
    height: 5%;
    font-size: 40px;
    padding: 10px;
    background-color: #B2FFD6;
}
.inputs {
    width: 40%;
    padding: 10px;
    background-color: #B2FFD6;
    margin-top: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}
.input {
    width: 40%;
    height: 4%;
    
}